
h2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(119, 204, 247);
    border: 1px solid #827373;
    color: #062c4f; 
    font-weight: bold;
    width: 200px; 
    height: 20px; 
    line-height: 20px; 
    width: 100%;
    margin-left: calc(50% - 50vw); 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#062c4f
}

body {
    background-color: rgb(240, 243, 249);
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 20px;
}

p {
    font-size: 16px;
    color: #333; 
    font-family: 'Verdana', sans-serif;
    padding: 10px 60px;
}

#footer {
    text-align: center;
    font-size: 14px;
    color: #666; 
    margin-top: 40px;
    font-family: 'Courier New', Courier, monospace;
}


#navbar {
    position: relative; 
    top: 0px;
    width: 100%; 
    z-index: 1000;
    background-color: rgb(240, 243, 249);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    list-style: none; 
    padding: 10px 0; 
    margin: 0; 
    box-shadow: none; 
    color: #062c4f;
    overflow-x: auto;
}

#navbar.fixed {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%; 
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); 
    justify-content: center; 
    align-items: center; 
}

@media (max-width: 768px) {
    #navbar {
        flex-wrap: wrap; 
        padding: 10px; 
        row-gap: 15px; 
    }

    #navbarfixed {
        flex-wrap: wrap; 
        padding: 10px; 
        row-gap: 15px; 
    }

    #navbar li {
        margin: 5px;
    }

    #navbar li a {
        font-size: 14px; 
        padding: 8px 12px;
    }
}

section {
    scroll-margin-top: 150px;
}

section:first-of-type {
    transition: margin-top 0.3s ease; 
}

#navbar li {
    margin: 0 10px; 
    white-space: nowrap;
}


#navbar li a {
    display: inline-block;
    padding: 7px 25px;
    justify-content: center;
    background-color: rgb(192, 231, 255);
    color: rgb(0, 0, 0); 
    text-decoration: none; 
    border: 1px solid transparent; 
    border-radius: 5px; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    cursor: pointer; 
    transition: background-color 0.3s ease, border-color 0.3s ease; 
    border-color: #827373;
    text-align: center;
    width: 85px;
    justify-content: center; 
    align-items: center;
}

#navbar li a:hover {
    background-color: rgb(113, 221, 216);
    border-color: #827373;
}

#email-list{
    list-style: none;
    line-height: 2;
}

#email-list li {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    font-size: 13px;
}

#email-list a {
    text-decoration: none; 
    color: inherit; 
}

#email-list a:hover {
    text-decoration: underline; 
    color: #2a0a61; 
}

#email-list img {
    max-width: 30px; 
    height: auto; 
}

#social-media {
    list-style: none;
    line-height: 2;
}

#social-media li {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    font-size: 13px;
}

#social-media img {
    max-width: 30px; 
    height: auto; 
}

#social-media a {
    text-decoration: none; 
    color: inherit; 
}

#social-media a:hover {
    text-decoration: underline; 
    color: #2a0a61; 
}

#pp {
    display: block; 
    margin: 0 auto;
    margin-bottom: 15px; 
    max-width: 100%; 
    height: auto; 
    }
    
    .rectangle {
    width: 90%; 
    max-width: 300px; 
    background-color: rgb(119, 204, 247);
    border: 1px solid #827373;
    margin: 10px auto;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    }
    
    .rectangle p {
    padding: 10px  20px;
    color: #062c4f; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .rectangle button {
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
    background-color: rgb(113, 221, 216);
    border: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    
    }
    
    .rectangle a {
    text-decoration: none;
    }